	input>A*(B+C)/D
	output>ABC+*D/
	input>A+(B-C)/D
	output>ABC-D/+
	input>A+B*C+D
	output>ABC*+D+
	input>A*B*C*D
	output>AB*C*D*
	input>A
	output>A
	input>A-B/C+D/E
	output>ABC/-DE/+
	input>A*B*C+D*E+F+G/H*I+J/K+L*M-N+O*P-Q*R+S+T-U/V*W
	output>AB*C*DE*+F+GH/I*+JK/+LM*+N-OP*+QR*-S+T+UV/W*-
	input>A/B/C+D/E/F
	output>AB/C/DE/F/+
	input>A-B+C+D-E+F+G/H*I+J-K/L/M*N/O+P*Q*R-S
	output>AB-C+D+E-F+GH/I*+J+KL/M/N*O/-PQ*R*+S-
	input>A-B
	output>AB-
	input>A+B+C+D*E+F
	output>AB+C+DE*+F+
	input>A/B-C*D/E-F-G/H+I*J*K*L-M/N+O/P-Q+R+S+T/U-V-W
	output>AB/CD*E/-F-GH/-IJ*K*L*+MN/-OP/+Q-R+S+TU/+V-W-
	input>A*B+C/D-E/F*G-H+I*J+K+L+M+N+O/P*Q-R+S/T-U-V*W*X/Y*Z
	output>AB*CD/+EF/G*-H-IJ*+K+L+M+N+OP/Q*+R-ST/+U-VW*X*Y/Z*-
	input>A+B*C/D+E/F-G*H/I+J*K+L-M-N/O+P+Q*R-S/T/U/V-W+X-Y
	output>ABC*D/+EF/+GH*I/-JK*+L+M-NO/-P+QR*+ST/U/V/-W-X+Y-
	input>A*B-C-D-E-F+G/H/I*J+K/L/M*N-O
	output>AB*C-D-E-F-GH/I/J*+KL/M/N*+O-
	input>A*B-C+D/E*F+G+H/I-J-K-L+M+N*O/P
	output>AB*C-DE/F*+G+HI/+J-K-L-M+NO*P/+
	input>A/B-C/D-E
	output>AB/CD/-E-
	input>A-B*C/D+E*F-G*H-I*J+K+L*M+N-O-P+Q+R-S
	output>ABC*D/-EF*+GH*-IJ*-K+LM*+N+O-P-Q+R+S-
	input>A*B/C-D+E-F*G/H/I*J*K-L+M*N-O/P*Q/R*S+T/U-V
	output>AB*C/D-E+FG*H/I/J*K*-L-MN*+OP/Q*R/S*-TU/+V-
	input>A-B-C/D/E+F+G/H+I*J+K/L/M-N*O/P/Q/R-S+T*U/V+W-X/Y
	output>AB-CD/E/-F+GH/+IJ*+KL/M/+NO*P/Q/R/-S-TU*V/+W+XY/-
	input>A-B/C*D-E*F
	output>ABC/D*-EF*-
	input>A/B*C+D*E/F+G-H+I*J+K+L-M+N/O*P*Q*R
	output>AB/C*DE*F/+G+H-IJ*+K+L+M-NO/P*Q*R*+
	input>A+B-C*D*E/F-G*H/I*J
	output>AB+CD*E*F/-GH*I/J*-
	input>A+B-C+D/E*F
	output>AB+C-DE/F*+
	input>A*B*C-D+E/F*G+H-I-J/K/L-M/N
	output>AB*C*D-EF/G*+H+I-JK/L/-MN/-
	input>A/B-C
	output>AB/C-
	input>A+B-C-D+E+F/G+H/I+J+K+L*M+N*O*P
	output>AB+C-D-E+FG/+HI/+J+K+LM*+NO*P*+
	input>A-B*C*D*E/F-G*H/I*J*K*L+M-N*O*P*Q/R-S+T/U
	output>ABC*D*E*F/-GH*I/J*K*L*-M+NO*P*Q*R/-S-TU/+
	input>A-B+C/D-E/F/G*H+I/J+K*L/M-N/O*P*Q*R/S-T-U
	output>AB-CD/+EF/G/H*-IJ/+KL*M/+NO/P*Q*R*S/-T-U-
	input>A+B-C+D+E-F/G/H-I+J-K+L/M*N+O+P-Q*R/S
	output>AB+C-D+E+FG/H/-I-J+K-LM/N*+O+P+QR*S/-
	input>A*B-C+D
	output>AB*C-D+
	input>A*B+C+D+E/F-G+H-I/J*K*L-M+N
	output>AB*C+D+EF/+G-H+IJ/K*L*-M-N+
	input>A-B+C+D+E*F*G+H*I*J-K+L/M/N*O+P/Q+R
	output>AB-C+D+EF*G*+HI*J*+K-LM/N/O*+PQ/+R+
	input>A/B*C+D-E+F+G*H*I/J+K-L+M/N
	output>AB/C*D+E-F+GH*I*J/+K+L-MN/+
	input>A*B*C-D*E*F+G
	output>AB*C*DE*F*-G+
	input>A/B-C-D*E-F*G-H-I+J+K-L*M/N+O-P
	output>AB/C-DE*-FG*-H-I-J+K+LM*N/-O+P-
	input>A*B-C*D*E+F*G*H*I*J*K/L*M*N-O
	output>AB*CD*E*-FG*H*I*J*K*L/M*N*+O-
	input>A+B*C/D+E-F-G/H-I-J-K
	output>ABC*D/+E+F-GH/-I-J-K-
	input>A/B/C+D+E-F/G-H*I*J/K-L+M-N-O/P+Q*R/S-T
	output>AB/C/D+E+FG/-HI*J*K/-L-M+N-OP/-QR*S/+T-
	input>A*B+C+D*E-F-G
	output>AB*C+DE*+F-G-
	input>A/B+C/D+E/F/G-H+I+J*K/L*M-N*O/P*Q*R*S*T+U-V/W+X/Y
	output>AB/CD/+EF/G/+H-I+JK*L/M*+NO*P/Q*R*S*T*-U+VW/-XY/+
	input>A/B+C*D-E*F*G/H+I-J*K-L/M-N+O-P+Q*R+S-T+U/V*W
	output>AB/CD*+EF*G*H/-I+JK*-LM/-N-O+P-QR*+S+T-UV/W*+
	input>A+B-C/D-E*F*G+H*I-J
	output>AB+CD/-EF*G*-HI*+J-
	input>A/B-C+D+E-F*G*H/I-J-K/L-M+N-O-P+Q*R+S*T*U*V-W-X/Y-Z
	output>AB/C-D+E+FG*H*I/-J-KL/-M-N+O-P-QR*+ST*U*V*+W-XY/-Z-
	input>A/B/C/D+E
	output>AB/C/D/E+
	input>A-B-C+D+E
	output>AB-C-D+E+
	input>A-B*C-D*E/F-G*H*I*J
	output>ABC*-DE*F/-GH*I*J*-
	input>A/B*C
	output>AB/C*
	input>A+B+C-D-E-F+G*H+I+J
	output>AB+C+D-E-F-GH*+I+J+
	input>A-B-C+D*E/F-G-H/I-J/K-L+M/N/O+P/Q/R-S-T/U+V-W
	output>AB-C-DE*F/+G-HI/-JK/-L-MN/O/+PQ/R/+S-TU/-V+W-
	input>A/B-C*D+E/F/G+H/I*J-K/L+M/N+O-P+Q*R/S/T+U/V*W/X
	output>AB/CD*-EF/G/+HI/J*+KL/-MN/+O+P-QR*S/T/+UV/W*X/+
	input>A-B+C+D+E-F*G*H/I+J-K
	output>AB-C+D+E+FG*H*I/-J+K-
	input>A*B/C*D+E-F/G*H/I*J*K+L+M+N-O+P
	output>AB*C/D*E+FG/H*I/J*K*-L+M+N+O-P+
	input>A*((B*C)/D-(E/F+(G*H/((I*J-(((K+L*M))))/N)))+O-P*(Q/R)+S)-T
	output>ABC*D/EF/GH*IJ*KLM*+-N//+-O+PQR/*-S+*T-
	input>A+(B+C/D)+E*F/G-(H/I)+(J-K/L-M)
	output>ABCD/++EF*G/+HI/-JKL/-M-+
	input>(A+(B+(C+D*((E-((F/((G+H+I*J*(K*L))))))))))
	output>ABCDEFGH+IJ*KL**+/-*+++
	input>(A*(B-C/D))-E-F-((((G+(H*I)))-((J*(K*(L-M*N/O)-P/Q*R)/(S-T*U*V-W-X*Y/Z)))))
	output>ABCD/-*E-F-GHI*+JKLMN*O/-*PQ/R*-*STU*V*-W-XY*Z/-/--
	input>(A/B)-C*D-E*F+G+H*I/(((J-K*L)+M+N*O))
	output>AB/CD*-EF*-G+HI*JKL*-M+NO*+/+
	input>A+B/C
	output>ABC/+
	input>A+B+C+(D/E+(F+G)+(H/I))
	output>AB+C+DE/FG++HI/++
	input>A*((B*C+D*((E-F-(((G/((H/(I+J)*((K+L)/M+N))))))))))
	output>ABC*DEF-GHIJ+/KL+M/N+*/-*+*
	input>A-B+C/D-((E+(F-G)+H)+I/J+(K/L-M-N/O-(P/Q)+R+S-T/U))-V/((W*X))
	output>AB-CD/+EFG-+H+IJ/+KL/M-NO/-PQ/-R+S+TU/-+-VWX*/-
	input>((A/B*C)/D*(E/F))+G/(H/I+J)*K+L*M-((((((N+O))))))
	output>AB/C*D/EF/*GHI/J+/K*+LM*+NO+-
	input>(A-B-C/((D+E*F*G*H)+I+J+K)-L)*(M-(N*(O*P)+Q-R)-S)
	output>AB-CDEF*G*H*+I+J+K+/-L-MNOP**Q+R--S-*
	input>(A*B)+C/D+E/F*(G*H*I+(J*K))-(L+M-N-O)-P/Q/((R/S))
	output>AB*CD/+EF/GH*I*JK*+*+LM+N-O--PQ/RS//-
	input>((A/B))*C*(D+(E+F/G+H))
	output>AB/C*DEFG/+H++*
	input>A-(B*C*D)
	output>ABC*D*-
	input>(((A/B/C)/D-E))/F+(G-H+I*J-K*L)*(M*N)-O-P-(((Q+((R-S)-T))/(U/V/W)))
	output>AB/C/D/E-F/GH-IJ*+KL*-MN**+O-P-QRS-T-+UV/W//-
	input>A+((((B*C/D-E)-F-G*H*I)+(J-K*L)/M/N)+(O/((P+Q+(R+(S*(T/U)))))))
	output>ABC*D/E-F-GH*I*-JKL*-M/N/+OPQ+RSTU/*++/++
	input>A/B/C-D+(E-F-(G-H*I/J/K)+L)*M+N-O*P+(Q-R-S*T/U)
	output>AB/C/D-EF-GHI*J/K/--L+M*+N+OP*-QR-ST*U/-+
	input>A/B*C/((D/E+(F*G+((H+I*J-K)-L+M-N/O)/P+Q)*R)/S*T)
	output>AB/C*DE/FG*HIJ*+K-L-M+NO/-P/+Q+R*+S/T*/
	input>A+B-(C*D+E*(F-G*H)+I)
	output>AB+CD*EFGH*-*+I+-
	input>A/B
	output>AB/
	input>A/B/C-(D*E)/F/G-((H/I)*((J+((K+L)+M+N/O/P/(Q-R*S)-T*(U+(V+(((W+X-Y)))))))))
	output>AB/C/DE*F/G/-HI/JKL+M+NO/P/QRS*-/+TUVWX+Y-++*-+*-
	input>(A-B*(C+D))
	output>ABCD+*-
	input>(A+B/C+(D*(E-F))-G)*(H/I+J+K+L)/M+(N*O*P)*(Q*(R*S+T/U+V/W))
	output>ABC/+DEF-*+G-HI/J+K+L+*M/NO*P*QRS*TU/+VW/+**+
	input>A+B-((C-D/E/(F+G/(H*(I+(J-K)/(L/M-(N-O/P-Q+R+S)))))))
	output>AB+CDE/FGHIJK-LM/NOP/-Q-R+S+-/+*/+/--
	input>(A-B)*C-D+E-F/((G+H)/I-J)*K-((L-M-N-O/P)+Q)
	output>AB-C*D-E+FGH+I/J-/K*-LM-N-OP/-Q+-
	input>A*(B-(C+D/E/F*G)/H)/(I+J/K)+L-((M*N*O*((P*((Q*R)/S*(T+(U*(V/W/X-Y))))))))
	output>ABCDE/F/G*+H/-*IJK/+/L+MN*O*PQR*S/TUVW/X/Y-*+***-
	input>(A*B-C)*D-(E-F+G)-H/I/(J*((K+(((L*M*N+O))))))
	output>AB*C-D*EF-G+-HI/JKLM*N*O++*/-
	input>((A/B))*C/D*E*F/(G-(H/I+J+K))
	output>AB/C*D/E*F*GHI/J+K+-/
	input>(A*B-C-D*E)-F*G*H-(I*J/K)*L/M/(N/O*P+((Q+R+S/T)))
	output>AB*C-DE*-FG*H*-IJ*K/L*M/NO/P*QR+ST/++/-
	input>A*B/C
	output>AB*C/
	input>A*(B/(C-D))+E/(F*G)-H-(I-J/K-(L-(M/N*O/P)/(Q*R*S*T+U)+V)/(W+X-Y))
	output>ABCD-/*EFG*/+H-IJK/-LMN/O*P/QR*S*T*U+/-V+WX+Y-/--
	input>A*B/(C/(D/E)/F+G-H+(I+J)/K+L/(M/N/((O-P)))*Q)*((R/S)/(T*U/V))
	output>AB*CDE//F/G+H-IJ+K/+LMN/OP-//Q*+/RS/TU*V//*
	input>(A/B+C)/((D-(((E-F*G)*H)-I-J)/K)/L*M*N)*O*P+Q-R-S-T/U/(((V+(W*X+Y-Z))))
	output>AB/C+DEFG*-H*I-J-K/-L/M*N*/O*P*Q+R-S-TU/VWX*Y+Z-+/-
	input>A-B+((C+D/E)/F/G/H-(((I/J)/K/L)))+M+N-O-P+Q*R*S-(T+U)*V*W/(X-Y)
	output>AB-CDE/+F/G/H/IJ/K/L/-+M+N+O-P-QR*S*+TU+V*W*XY-/-
	input>(A/B-C)/D+((((E/F*G+H))))
	output>AB/C-D/EF/G*H++
	input>(A+B+((C-D+E)+(F-G)))/(H-I/J)+K
	output>AB+CD-E+FG-++HIJ/-/K+
	input>A/B+C/D+(E*(F-G))
	output>AB/CD/+EFG-*+
	input>(A/B-C)+(D*E-F*((G*H))/I-((J+K+(L/(M/(N+(((O*P*Q)/R+S/T)/U-(V+W))))))))
	output>AB/C-DE*FGH**I/-JK+LMNOP*Q*R/ST/+U/VW+-+//+-+
	input>A/B*C/D
	output>AB/C*D/
	input>(A*B)-C-D-(E-F+G)+H*I-J+(K*L)-M/N/O-P-Q
	output>AB*C-D-EF-G+-HI*+J-KL*+MN/O/-P-Q-
	input>A/B/C+D+E/F-G*H+I*J-K*(L/M)/(((((((N+O)-P/(Q/R/S))/(((T*(U-V+W)))))))))
	output>AB/C/D+EF/+GH*-IJ*+KLM/*NO+PQR/S//-TUV-W+*//-
	input>((A-(B*C+D*E*((F-(G*((H/(I+J-K+L-M)*(N+(((O+P)-Q)+R))))))))))
	output>ABC*DE*FGHIJ+K-L+M-/NOP+Q-R++**-*+-
	input>A+(((B/C))/(D*E))*(F+G/H)-I*J-K-L/M-N-O*P/Q*(R-S)-T/U
	output>ABC/DE*/FGH/+*+IJ*-K-LM/-N-OP*Q/RS-*-TU/-
	input>A/(((B*((C-D/E)*(F-G+H)*I/(J+(K/L/M))-(N/O+P+Q)))))
	output>ABCDE/-FG-H+*I*JKL/M/+/NO/P+Q+-*/
	input>A-B*C+D*E*((F+G))-(H/I)/J
	output>ABC*-DE*FG+*+HI/J/-
	input>(((A/((B/C)/D-E)*F*G-(H+I/J-K-L))-M))
	output>ABC/D/E-/F*G*HIJ/+K-L--M-
	input>A*B-C+(D-(E*F*(G-H+I+J-((K*L/M-(N/O+(P*Q-R/(S*T))))))))
	output>AB*C-DEF*GH-I+J+KL*M/NO/PQ*RST*/-+--*-+
	input>(A*(B*C-D+E-(((F-G)+H/((I*(J-K))))+(L*M*N*(O/P*(Q*R))*S+T)-U*(V/W-X))))
	output>ABC*D-E+FG-HIJK-*/+LM*N*OP/QR***S*T++UVW/X-*--*
	input>A/B*C-D/(E-((F+(G-(H+I*J)))))
	output>AB/C*DEFGHIJ*+-+-/-
	input>A/(B-C)/(D*(E-F)*G)*H
	output>ABC-/DEF-*G*/H*